{% extends 'base.html.twig' %}

{% block title %}Totalorder index{% endblock %}

{% block body %}
    <h1>Totalorder index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TotalorderDate</th>
                <th>UpdatedAt</th>
                <th>TotalorderBilladdress</th>
                <th>TotalorderDeliveryaddress</th>
                <th>TotalorderDiscount</th>
                <th>TotalorderInvoicenb</th>
                <th>TotalorderInvoicedate</th>
                <th>TotalorderDeadline</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for totalorder in totalorders %}
            <tr>
                <td>{{ totalorder.id }}</td>
                <td>{{ totalorder.totalorderDate ? totalorder.totalorderDate|date('Y-m-d') : '' }}</td>
                <td>{{ totalorder.updatedAt ? totalorder.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ totalorder.totalorderBilladdress }}</td>
                <td>{{ totalorder.totalorderDeliveryaddress }}</td>
                <td>{{ totalorder.totalorderDiscount }}</td>
                <td>{{ totalorder.totalorderInvoicenb }}</td>
                <td>{{ totalorder.totalorderInvoicedate ? totalorder.totalorderInvoicedate|date('Y-m-d') : '' }}</td>
                <td>{{ totalorder.totalorderDeadline ? totalorder.totalorderDeadline|date('Y-m-d') : '' }}</td>
                <td>{{ totalorder.status }}</td>
                <td>
                    <a href="{{ path('totalorder_show', {'id': totalorder.id}) }}">show</a>
                    <a href="{{ path('totalorder_edit', {'id': totalorder.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('totalorder_new') }}">Create new</a>
{% endblock %}
