{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="text-info">Votre panier</h1>
    {% if cart.orderdetails.count > 0 %}
        <div class="row mt-4">
            <!-- List of items -->
            <div class="col-md-8">
                {{ form_start(form) }}
                <div class="card">
                    <div class="card-header bg-dark text-success d-flex">
                        <h5>Articles</h5>
                        <div class="ml-auto">
                            {{ form_widget(form.save, {'attr': {'class': 'btn btn-warning'}}) }}
                            {{ form_widget(form.clear, {'attr': {'class': 'btn btn-light'}}) }}
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">

                        {# test 02/03 :   {% for orderdetail in orderdetails %}#}
                        {% for orderdetail in form.orderdetails %}
                            <li class="list-group-item d-flex">
                                <div class="flex-fill mr-2">
                                    <img src="{{ orderdetail.vars.data.products.productsPicture }}" width="64" alt="Product image">
                                </div>
                                <div class="flex-fill mr-2">
                                    <h5 class="mt-0 mb-0 text-white">{{ orderdetail.vars.data.products.productsName }}</h5>
                                    <small>{{ orderdetail.vars.data.products.productsDescription }}</small>
                                    <div class="form-inline mt-2">
                                        <div class="form-group mb-0 mr-2 justify-content-between">
                                            {{ form_widget(orderdetail.orderdetailQuantity, {
                                                'attr': {
                                                    'class': 'form-control form-control-sm ' ~ (orderdetail.orderdetailQuantity.vars.valid ? '' : 'is-invalid')
                                                }
                                            }) }}
                                            <div class="invalid-feedback">
                                                {{ form_errors(orderdetail.orderdetailQuantity) }}
                                            </div>
                                        </div>
                                        {{ form_widget(orderdetail.remove, {'attr': {'class': 'btn btn-dark btn-sm'}}) }}
                                    </div>
                                </div>
                                <div class="flex-fill mr-2 text-right">
                                    <b>{{ orderdetail.vars.data.products.productsPrice }} €</b>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                {{ form_end(form) }}
            </div>

            <!-- Summary -->
            <div class="col-md-4">
                <div class="card mt-4 mt-md-0">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between">
                            <div class="text-white"><b>Total</b></div>
                            <span class="text-white"><b>{{ cart.total }} €</b></span>
                        </li>
                    </ul>
                    <div class="card-body">
                        <a href="{{ path('cart_validation') }}" class="btn btn-info w-100">Valider</a>
                    </div>
                </div>
            </div>

        </div>
    {% else %}
        <div class="alert alert-info">
            Votre panier est vide. Consultez notre <a href="{{ path('products_index') }}">Catalogue</a>.
        </div>
    {% endif %}
</div>

{% endblock %}
