{% extends 'admin.html.twig' %}

{% block title %}Fournisseurs{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 col-sm-6">
            <h1 class="text-info">Liste des fournisseurs</h1>
        </div>
        <div class="col-12 col-sm-6">
            <a href="{{ path('admin_suppliers_new') }}" class="btn btn-danger">Ajouter un nouveau fournisseur</a>
        </div>
    </div>


    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Ville</th>
                <th>Téléphone</th>
                <th colspan="3" class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for supplier in suppliers %}
            <tr>
                <td>{{ supplier.id }}</td>
                <td>{{ supplier.suppliersName }}</td>
                <td>{{ supplier.suppliersCity }}</td>
                <td>{{ supplier.suppliersPhone }}</td>
                <td>
                    <a href="{{ path('admin_suppliers_show', {'id': supplier.id}) }}" class="btn btn-success">Détails</a>
                </td>
                <td>
                    <a href="{{ path('admin_suppliers_edit', {'id': supplier.id}) }}" class="btn btn-info">Modifier</a>
                </td>
                <td>
                    {{ include('admin/suppliers/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun fournisseur</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
