<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12">
            <h1>Bonjour, {{ username }} !</h1>
            <h2 class="text-success">Confirmation de votre commande  n° {{ cart.id }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-dark text-success d-flex">
                    <h5>Articles</h5>
                </div>
                <ul class="list-group list-group-flush">
                    {% for article in articles %}
                        <li class="list-group-item d-flex">
                            <div class="flex-fill mr-2">
                                <img src="{{ orderdetail.products.productsPicture }}" width="64" alt="Product image">
                            </div>
                            <div class="flex-fill mr-2">
                                <h5 class="mt-0 mb-0 text-white">{{ orderdetail.products.productsName }}</h5>
                                <small>{{ orderdetail.products.productsDescription }}</small>
                                <p>Quantité: {{ orderdetail.orderdetailQuantity }}</p>
                            </div>
                            <div class="flex-fill mr-2 text-right">
                                <p class="text-white"><b>Prix unitaire: {{ orderdetail.products.productsPrice }} €</b></p>
                                <p class="text-white"><b>Total: {{ orderdetail.products.productsPrice * orderdetail.orderdetailQuantity }}</b></p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Merci de compter parmi nos fidèles clients! Nous vous enverrons un mail dès que la livraison sera en chemin.</p>
        </div>
    </div>
</div>