{% extends 'admin.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <h1 class="text-info">Commande : détails</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>N°</th>
                <td>{{ totalorder.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ totalorder.totalorderDate ? totalorder.totalorderDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Modifiée le</th>
                <td>{{ totalorder.updatedAt ? totalorder.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Adresse de facturation</th>
                <td>{{ totalorder.totalorderBilladdress }}</td>
            </tr>
            <tr>
                <th>Adresse de livraison</th>
                <td>{{ totalorder.totalorderDeliveryaddress }}</td>
            </tr>
            <tr>
                <th>Discount</th>
                <td>{{ totalorder.totalorderDiscount }}</td>
            </tr>
            <tr>
                <th>N° Facture</th>
                <td>{{ totalorder.totalorderInvoicenb }}</td>
            </tr>
            <tr>
                <th>Date Facture</th>
                <td>{{ totalorder.totalorderInvoicedate ? totalorder.totalorderInvoicedate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Echéance</th>
                <td>{{ totalorder.totalorderDeadline ? totalorder.totalorderDeadline|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ totalorder.status }}</td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-4 col-sm-4">
            <a href="{{ path('admin_totalorders_home') }}" class="btn btn-success mx-auto">Retour à la liste</a>
        </div>
        <div class="col-4 col-sm-4">
            <a href="{{ path('admin_totalorders_edit', {'id': totalorder.id}) }}" class="btn btn-info mx-auto">Modifier</a>
        </div>
        <div class="col-4 col-sm-4">
            {{ include('admin/totalorder/_delete_form.html.twig') }}
        </div>
    </div>

{% endblock %}
