{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
<div class="row">
    <div class="col-12 col-sm-6">
        {{ form_row(form.productsName) }}
    </div>
    <div class="col-12 col-sm-6">
        {{ form_row(form.rubrique) }}
    </div>

</div>
<div class="row">
    <div class="col-12 col-sm-4">
        {{ form_row(form.productsDescription) }}
    </div>
    <div class="col-12 col-sm-4">
        {{ form_row(form.productsPrice) }}
    </div>
    <div class="col-12 col-sm-4">
        {{ form_row(form.productsStatus) }}
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-6">
        {{ form_row(form.productsStock) }}
    </div>
    <div class="col-12 col-sm-6">
        {{ form_row(form.productsPicture) }}
    </div>
</div>


   {# test {{ form_widget(form) }} #}


    <button class="btn-info">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
