{% extends 'base.html.twig' %}

{% block title %}Fiche Produit{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 col-sm-12">
            <h1 class="text-info">Fiche Produit</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12">
            <table class="table">
                <tbody>
                <tr>
                    <th class="text-primary">Catégorie</th>
                    <td class="text-primary">{{ product.rubrique }}</td>
                </tr>
                <tr>
                    <th>Article</th>
                    <td>{{ product.productsName }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ product.productsDescription }}</td>
                </tr>
                <tr>
                    <th>Photo</th>
                    <td><img src="{{ product.productsPicture }}" alt="Photo" width="20%"></td>
                </tr>
                <tr>
                    <th>Prix</th>
                    <td>{{ product.productsPrice }} €</td>
                </tr>
                {{ form_start(form) }}
                <tr class="form-group">
                    <th>{{ form_label(form.orderdetailQuantity) }}</th>
                    <td>
                        {{ form_widget(form.orderdetailQuantity, {
                            'attr': {
                                'class': 'form-control ' ~ (form.orderdetailQuantity.vars.valid ? '' : 'is-invalid')
                            }
                        }) }}
                    </td>
                    <div class="invalid-feedback">
                        {{ form_errors(form.orderdetailQuantity) }}
                    </div>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="row">
        <div class="col-6 col-sm-6">
            <a href="{{ path('products_index') }}" class="btn btn-success">Retour au catalogue</a>
        </div>
        <div class="col-6 col-sm-6">
            {{ form_widget(form.add, {'attr': {'class': 'btn btn-info'}}) }}
            {{ form_end(form) }}
    {# à enlever quand j'aurai fini : #}
            <a href="{{ path('cart_add', {'id': product.id}) }}" class="btn btn-dark card-link text-white" role="button">
                <i class="fas fa-shopping-cart"></i>  Ajouter au panier
            </a>
        </div>
    </div>


{% endblock %}
