{% extends 'base.html.twig' %}

{% block title %}Fiche Produit{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 col-sm-12">
            <h1 class="text-info">Fiche Produit</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12">
            <table class="table">
                <tbody>
                <tr>
                    <th class="text-primary">Catégorie</th>
                    <td class="text-primary">{{ product.rubrique }}</td>
                </tr>
                <tr>
                    <th>Article</th>
                    <td>{{ product.productsName }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ product.productsDescription }}</td>
                </tr>
                <tr>
                    <th>Picture</th>
                    <td><img src="{{ product.productsPicture }}" alt="Photo" width="20%"></td>
                </tr>
                <tr>
                    <th>Prix</th>
                    <td>{{ product.productsPrice }}</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="row">
        <div class="col-6 col-sm-6">
            <a href="{{ path('products_index') }}" class="btn btn-success">Retour au catalogue</a>
        </div>
        <div class="col-6 col-sm-6">
            <a href="{{ path('cart_add', {'id': product.id}) }}" class="btn btn-dark card-link text-white" role="button">
                <i class="fas fa-shopping-cart"></i>  Ajouter au panier
            </a>
        </div>
    </div>


{% endblock %}
