{% extends 'base.html.twig' %}

{% block title %}Catalogue de nos produits{% endblock %}

{% block body %}
    <section class="articles">
        {{ dump(obj) }}
        <div class="card">
            <div class="card-header">{{ obj.rubriqueName }}</div>
            <div class="card-body">Content</div>
            <div class="card-footer">Footer</div>
        </div>

        <article>
            <h2>titre de l'article</h2>
            <div class="metadata">Des data</div>
            <div class="content">
                <img src="http://placehold.it/350x150" alt="">
                <p>Un paragraphe</p>
                <p>Un paragraphe</p>
                <a href="{{ path('catalogue_show') }}" class="btn btn-primary" >Lire la suite</a>
            </div>
        </article>
        <article>
            <h2>titre de l'article</h2>
            <div class="metadata">Des data</div>
            <div class="content">
                <img src="http://placehold.it/350x150" alt="">
                <p>Un paragraphe</p>
                <p>Un paragraphe</p>
                <a href="{{ path('catalogue_show') }}" class="btn btn-primary" >Lire la suite</a>
            </div>
        </article>
        <article>
            <h2>titre de l'article</h2>
            <div class="metadata">Des data</div>
            <div class="content">
                <img src="http://placehold.it/350x150" alt="">
                <p>Un paragraphe</p>
                <p>Un paragraphe</p>
                <a href="{{ path('catalogue_show') }}" class="btn btn-primary" >Lire la suite</a>
            </div>
        </article>
    </section>
{% endblock %}
