{% extends 'member.html.twig' %}

{% block title %}Espace Membre - Coordonnées{% endblock %}

{% block body %}

    {% if(app.user.customer) %}

    <div class="row">
        <div class="col-12 col-sm-12">
            <h1 class="text-center text-info">Coordonnées : {{ app.user.firstname }} {{ app.user.lastname }}</h1>
        </div>
    </div>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success my-3">
                {{ message }}
            </div>
        {% endfor %}

    <div class="row">
        <div class="col-4 col-sm-4">
            Adresse client:
        </div>
        <div class="col-8 col-sm-8">
            {{ app.user.customer.customersAddress }}
        </div>
    </div>

    <div class="row">
        <div class="col-4 col-sm-4">
            Code Postal - Ville :
        </div>
        <div class="col-8 col-sm-8">
            {{ app.user.customer.customersZipcode }} - {{ app.user.customer.customersCity }}
        </div>
    </div>
    <div class="row">
        <div class="col-4 col-sm-4">
            Téléphone :
        </div>
        <div class="col-8 col-sm-8">
            {{ app.user.customer.customersPhone }}
        </div>
    </div>
        {% if(app.user.customer.employee) %}
        <div class="row">
            <div class="col-4 col-sm-4">
                Votre contact chez nous :
            </div>
            <div class="col-8 col-sm-8">
                {{ app.user.customer.employee.employeeName }} est à votre disposition!
            </div>
        </div>
        {% endif %}
    <div class="row">
        <div class="col-12 col-sm-12">
            <a href="{{ path('member_customer_edit') }}" class="my-3 btn btn-info" role="button">Modifier vos coordonnées</a>
        </div>
    </div>

    {% else %}

        <div class="row">
            <div class="col-12 col-sm-12">
                <p class="my-5">Vous n'avez pas encore créé votre compte client et renseigné vos coordonnées!</p>
                <a href="{{ path('member_customer_add') }}" class="btn btn-info">Créer mon compte client</a>
            </div>
        </div>

    {% endif %}

{% endblock %}


{% block javascripts %}
{% endblock %}
