{% extends 'member.html.twig' %}

{% block title %}Modification du compte de {{ app.user.firstname }} {{ app.user.lastname }}{% endblock %}

{% block body %}

<div class="row">
    <div class="col-12 col-sm-12">
        <h1 class="text-info text-center">Modification du compte : {{ app.user.firstname }} {{ app.user.lastname }}
        </h1>
        {{ form(form) }}
    </div>
</div>

{% endblock %}


{% block javascripts %}
{% endblock %}
