{% extends 'member.html.twig' %}

{% block title %}Espace Membre - Accueil{% endblock %}

{% block body %}
    <h1 class="text-info text-sm-center">Bienvenue sur votre Espace Membre!</h1>
    <p>Cet espace sécurisé vous permet de gérer en toute simplicité votre compte utilisateur, vos coordonnées, et consulter votre historique de commandes.</p>

    <div class="row">
        <div class="col-12 col-sm-12">
            <h2>Votre profil :</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-3 col-sm-3">
            <p>Nom :</p>
        </div>
        <div class="col-4 col-sm-4">
            {{ app.user.lastname }}
        </div>
    </div>
    <div class="row">
        <div class="col-3 col-sm-3">
            <p>Prénom :</p>
        </div>
        <div class="col-4 col-sm-4">
            {{ app.user.firstname }}
        </div>
    </div>
    <div class="row">
        <div class="col-3 col-sm-3">
            <p>E-mail :</p>
        </div>
        <div class="col-4 col-sm-4">
            {{ app.user.email }}
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-sm-6">
            <a href="#" class="btn btn-info" role="button">Modifier le profil</a>
        </div>
        <div class="col-6 col-sm-6">
            <a href="#" class="btn btn-info" role="button">Modifier le mot de passe</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12">
            <h2>Coordonnées de {{ app.user.firstname }} {{ app.user.lastname }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-4 col-sm-4">
            Adresse :
        </div>
        <div class="col-8 col-sm-8">
            {{ app.user.customer.customersAddress }}
        </div>
    </div>

    <div class="row">
        <div class="col-4 col-sm-4">
            Code Postal - Ville :
        </div>
        <div class="col-8 col-sm-8">
            {{ app.user.customer.customersZipcode }} - {{ app.user.customer.customersCity }}
        </div>
    </div>
    <div class="row">
        <div class="col-4 col-sm-4">
            Téléphone :
        </div>
        <div class="col-8 col-sm-8">
            {{ app.user.customer.customersPhone }}
        </div>
    </div>
    <div class="row">
        <div class="col-4 col-sm-4">
            Votre contact chez nous :
        </div>
        <div class="col-8 col-sm-8">
            {{ app.user.customer.employee.employeeName }}
        </div>
    </div>
    <div class="row">
        <div class="col-4 col-sm-4">
            Commandes :
        </div>
        <div class="col-8 col-sm-8">
            {% for totalorder in app.user.customer.totalorders %}
{# pb: "Object of class DateTime could not be converted to string" on :  {{ totalorder.totalorderDate }}#}
                <p> - {{ totalorder.id }}
{# à finir 03/02/21 :                - Détails:#}
{#                    {% for detail in totalorder.id.orderdetails %}#}
{#                        {{ detail.orderdetailPrice }} Euros - Quantité: {{ detail.orderdetailQuantity }}</p>#}
{#                    {% endfor %}#}
            {%  endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-4 col-sm-4">
            Factures :
        </div>
        <div class="col-8 col-sm-8">
            {% for totalorder in app.user.customer.totalorders %}
                {# pb: "Object of class DateTime could not be converted to string" on :  {{ totalorder.totalorderInvoicedate }}#} <p> - {{ totalorder.totalorderInvoicenb }}</p>
            {%  endfor %}
        </div>
    </div>


{% endblock %}


{% block javascripts %}
{% endblock %}

