{% extends 'member.html.twig' %}

{% block title %}Espace Membre - Commandes{% endblock %}

{% block body %}

    {% if(app.user.customer) %}
        <div class="row">
            <div class="col-12 col-sm-12">
                <h1 class="text-info text-center">{{ app.user.customer.totalorders | length }} commandes dans votre historique</h1>
            </div>
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Commande n°</th>
                <th scope="col">Date</th>
                <th scope="col">Adresse de livraison</th>
                <th scope="col">Facture n°</th>
            </tr>
            </thead>
            <tbody>
            {% for totalorder in app.user.customer.totalorders %}
                <tr class="table-dark">
                    <th scope="row">{{ totalorder.id }}
                        <a href="{{path('member_orderdetails')}}" class="btn btn-info">Détails</a>
                    </th>
                    <td>{{ totalorder.totalorderDate |date('d-m-Y') }}</td>
                    <td>{{ totalorder.totalorderDeliveryaddress }}</td>
                    <td>{{ totalorder.totalorderInvoicenb }}
                        <a href="{{ path('member_invoices') }}" class="btn btn-info">Voir</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}

        <div class="row">
            <div class="col-12 col-sm-12">
                <p>Vous n'avez pas encore commandé!</p>
                {# voir si lien vers catalogue ou vers panier ? #}
                <button class="btn btn-info">Retourner au catalogue</button>
            </div>
        </div>


    {% endif %}

{% endblock %}


{% block javascripts %}
{% endblock %}
